@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    max-width: 5%;
}


.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}


/* ASIDE ICONS */

aside{
    width: 200px;
    height: 200px;
    margin-top: 3%;
    padding: 10px 10px;
    display: flex;
}

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-logo{
    height: 35px;
    cursor: pointer;
}

/* FIRST SECTION */

.first-section{
    display: flex;
    justify-content: center;
    margin-top: -200px;
    /* width: 100%; */

}

.social-box{
    display: flex;
    /* width: 60%; */
    height: 600px;
    padding: 10px 10px;
    animation: fadeIn;
    animation-duration: 2s;
}

.social-box img{
    padding: 10px 30px;
    animation: ;
}

.social-text p{
    /* display: inline-block; */
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 30px;
    padding: 30px 10px;
    margin-left: 10px;
    margin-right: 20px;
    position: absolute;
    top: 40%
}

#build-color{
    color: orange;
}

.header-of-clients{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.clients-logo{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    cursor: pointer;
    animation: backInLeft;
    animation-duration: 2s;

}

span #contact{
    color: orange;
    background-color: red;
}


.contact-header{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    margin-top: 90px;
    cursor: pointer;
}

#contact{
    color: orange;

}

footer{
    display: flex;
    /* justify-content: flex-end; */
    margin-top: 20px;
    color: white;
    padding-right: 20px;
    width: 100%;
}

.copyrigth{
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.5rem;
    color: grey;
}

.date-box{
    display: flex;
    justify-content: flex-end;
    color: grey;
    width: 100%;
    font-size: 0.5rem;
    font-family: 'Roboto', sans-serif;

}